/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/* counters. */

/*
  PAGE / BODY
*/
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-color: white;
  background: url(https://i.pinimg.com/originals/f0/ec/78/f0ec78edc58fc4d21d2cc611ea0fde7c.jpg) center no-repeat;
  background-size: cover; 
  min-height: 100vh; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  p {
  color: rgb(99, 99, 99);
  font-size: small;
  font-weight: 100;
  margin-top: 100px;
  padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  p {
  color: rgb(99, 99, 99);
  font-size: small;
  font-weight: 100;
  margin-top: 150px;
  padding: 5px;
  }
}

@media screen and (min-width: 800px) {
  main {
  background-color: rgb(185, 45, 45);
  border-radius: 3rem;
  padding: 0.5rem;
  margin-bottom: 180px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);;  
  width: 500px;
  }
}

@media screen and (max-width: 800px) {
  main {
  background-color: rgb(185, 45, 45);
  border-radius: 3rem;
  padding: 0.5rem;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  width: 300px;
  margin-bottom: 80px;
  }
}

@media screen and (min-width: 800px) {
  .santa-logo {
  height: 15rem;
  margin: auto;
  padding: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .santa-logo {
    height: 13rem; 
    margin: auto;
    padding: 1rem;
  }
}

@media screen and (min-width: 800px) {
  h1 {
  font-size: 39px;
  font-family: fantasy;
  font-weight: 10;
  padding-left: 3rem;
  padding-right: 3rem;

  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background: url(https://th.bing.com/th/id/OIP.375TOmetq1JysI2OPkXpnQHaHa?rs=1&pid=ImgDetMain);

  text-align: center;
  }
}

@media screen and (max-width: 800px) {
  h1 {
  font-size: 1.5rem;
  font-family: fantasy;
  font-weight: 10;

  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background: url(https://th.bing.com/th/id/OIP.375TOmetq1JysI2OPkXpnQHaHa?rs=1&pid=ImgDetMain);

  text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .christmas-flex-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .christmas-flex-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .list-item-container {
  background-color: white;
  color: black;
  min-height: 250px;

  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .list-item-container {
    background-color: white;
    color: black;
    min-height: 300px;

    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 1rem;
    }
  }

/* 
  FORM
*/
.add-item {
  display: grid;
  grid-template-columns: 3fr 1fr;

  gap: 0.5rem;
  margin-bottom: 30px;
}

.add-item label {
  grid-column-start: 1;
  grid-column-end: 8;
}

input[type="text"] {
  grid-column-start: 1;
  grid-column-end: 7;

  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="submit"] {
  background-color: rgb(185, 45, 45);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(146, 37, 37);
  color: black;
}

/* 
  LIST ITEMS
*/
ul.christmas-items li.checked {
  text-decoration: line-through;
  color: red;
}

ul.christmas-items li:nth-child(odd).checked {
  text-decoration: line-through;
  color: red;
}
/* ISSUE HERE */

@media screen and (max-width:800px) {
  ul.christmas-items li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin-left: 145px;
  }
}

@media screen and (min-width:800px) {
  ul.christmas-items li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  margin-left: 340px;
  }
}

ul.christmas-items li {
  background: url(https://th.bing.com/th/id/OIP.CLzkH2hHAxZFydgYsMd1JwHaEo?rs=1&pid=ImgDetMain);
  border-radius: 0.5rem;
  list-style: decimal;
  font-weight: bold;
  padding: 5px;
  padding-left: 15px;
  margin: 5px;
  word-break: break-word;
}

ul.christmas-items li:nth-child(odd) {
  background: #f9f9f9;
  border-radius: 0.5rem;
  list-style: decimal;
  font-weight: bold;
  padding: 5px;
  padding-left: 15px;
  margin: 5px;
  word-break: break-word;
}

ul.christmas-items li:nth-child(odd) button {
  border: none;
  text-decoration: none;
  color: rgb(99, 99, 99);
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 160px;
  margin-top: -23px;
  display:  block;
  position: absolute;
}

@media screen and (max-width:800px) {
ul.christmas-items li button {
  background: #ececec;
  border: none;
  text-decoration: none;
  color: rgb(99, 99, 99);
  cursor: pointer;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 160px;
  margin-top: -23px;
  display:  block;
  position: absolute;
  }
}

@media screen and (min-width:800px) {
  ul.christmas-items li button {
    background: #edebeb;
    border: none;
    text-decoration: none;
    color: rgb(99, 99, 99);
    cursor: pointer;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 360px;
    margin-top: -23px;
    display:  block;
    position: absolute;
    }
  }

  @media screen and (min-width:800px) {
    ul.christmas-items li:nth-child(odd) button {
      background: #f9f9f9;
      border: none;
      text-decoration: none;
      color: rgb(99, 99, 99);
      cursor: pointer;
      font-size: small;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 360px;
      margin-top: -23px;
      display:  block;
      position: absolute;
    }
  }

ul.christmas-items li button:hover {
  font-size: 12px;
}

ul.christmas-items li:hover {
  cursor: pointer;
  font-size: large;
}

ul.christmas-items li.checked button {
  background-color: white;
}

/*
 * SCREEN READER UTILITY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}